<div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">
    <% if notice %>
      <article class="message is-primary">
        <div class="message-body">
          <p><%= notice %></p>
        </div>
      </article>
    <% end %>
    <% if alert %>
      <article class="message is-danger">
        <div class="message-body">
          <p><%= alert %></p>
        </div>
      </article>
    <% end %>
    <% @photos.each do |photo| %>
      <div class="card">
        <div class="card-image">
          <figure class="image is-480x480">
            <% if photo.image.blank? then %>
              <img src="<%= asset_path "no_image.png" %> ">
            <% else %>
              <img src="<%= photo.image %>" alt="Image">
            <% end %>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= profile_img(User.find(photo.user_id)) %>
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"><%= photo.title %></p>
              <p class="subtitle is-6"><%= User.find_by(id:photo.user_id).name %></p>
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <%= link_to '詳細', photo ,class: "card-footer-item"%>
        </div>
      </footer>
      <br>
    <% end %>
  </div>
</div>